<!DOCTYPE html>
<html>
<head>
    <title>{{ project_name }}</title>
</head>
<body>
    <h1>Welcome to {{ project_name }}</h1>
    <h2>Created by {{ owner }}</h2>
    <p>Server: {{ inventory_hostname }}</p>
</body>
</html>