<!DOCTYPE html>
<html>
<head>
    <title>{{ project_name }}</title>
</head>
<body>
    <h1>Welcome to {{ project_name }}</h1>

    <h2>Environment : {{ env }}</h2>

    <h3>Server Name : {{ inventory_hostname }}</h3>

    <h3>Created By : {{ owner }}</h3>

    <hr>

    <p>This page is deployed using the Ansible Template Module.</p>

</body>
</html>